.main_movie{
    position: relative;
}
.main_movie img{
    width:100vw;
    height: 580px;
    margin:0;
    padding:0;
    position: relative;

}
.main_movie_text{
    position: absolute;
    top: 180px;
    left: 80px;
    font-size:20px;
}
.main_movie_text span{
    color:red;
    font-weight: 600;
    margin: 0 10px;
}
.main_movie_text img{
    display:inline-block;
    margin-top: 8px;
    width: 450px;
    height: 170px;
}

button{
    align-items:baseline; 
    background-color: rgba(180,180,180,0.7);
    padding: 9px 22px;
    font-size: 20px;
    margin: 4px;
    color:white;
    border-radius: 8px;
    border: 1px solid rgba(180,180,180,0.2);
 
}
.button img{
    width: 23px;
    height:auto;
    margin:0 1px;
    top: 4px;
}
.main_movie .text-overlay {
    font-size:18px;
    text-align:justify;
    letter-spacing: 1px;
    opacity: 0;/* 초기에는 텍스트 숨김 */
    transition: opacity 0.3s; /* 텍스트 나타남/숨김 트랜지션 효과 */
}
.main_movie:hover .text-overlay {
    opacity: 1; /* 마우스를 올렸을 때 텍스트 나타남 */
}
#play{ 
    color:black;
    background-color:aliceblue;
}
button:hover{
    background-color: rgba(240,240,240,0.1);
}
#play:hover{
    background-color: rgba(255,255,255,0.5);
}